#root
{
    -fx-background-color: #fff;
}
#header
{
    -fx-background-color:#fff;
    
}
#playbox
{
    -fx-background-color: #0E2159;
    -fx-padding: 10px 0;
}
#searchbox
{
    -fx-background-color: #cfcfcf;
    -fx-padding: 10px 0;
    /*-fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1px;
    -fx-border-color: #888;*/
    
}
#search
{
    -fx-highlight-fill: none;
}
#play
{
    -fx-background-color: #fff;
    -fx-pref-height: 30px;
    -fx-pref-height: 30px;
}
#time
{
    -fx-pref-width: 500px;
}
#timelabel
{
    -fx-text-fill: #fff;
}
#sound
{
    -fx-pref-width: 50px
}
#time .track, #sound .track
{
    -fx-background-color: #fff;
    -fx-pref-height: 10px;
}
#time .thumb, #sound .thumb
{
    -fx-background-color: #2B4389;
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-border-radius: 10px;
    -fx-border-width:2px;
    -fx-border-style:solid;
    -fx-border-color:#fff;
}

#aside
{
    -fx-padding:10px;
    -fx-background-color: #DDD;
}
#aside .container
{
    -fx-background-color: #DDD;
}
#aside .playlist, #addPlaylist
{
    -fx-pref-width:170px;
    -fx-pref-height:170px;
    -fx-padding: 10px;
}
#addPlaylist
{
    -fx-pref-height: 50px;
    -fx-background-color: #1f3b8c;
    -fx-background-radius: 10px;
}

#aside .playlist:hover, #addPlaylist:hover
{
    -fx-background-color: #EFEFEF;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
#aside .playlist Label, #addPlaylist Label
{
    -fx-text-fill:#333;
    -fx-font-family: "Tahoma";
    -fx-font-size: 20px;
}
#addPlaylist Label
{
    -fx-text-fill: #fff;
}

#aside .scroll-bar:vertical .thumb
{
    -fx-background-color: #0E2159;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
}
#aside .scroll-bar:vertical .track

{
    -fx-background-color: #ddd;
    -fx-border-width: 0;
}
#aside .scroll-bar:vertical .increment-button, #aside .scroll-bar:vertical .decrement-button, #aside .scroll-bar:vertical .increment-arrow, #aside .scroll-bar:vertical .decrement-arrow
{
    -fx-pref-height: 0;
}

#content
{
    -fx-padding: 10px;
    -fx-background-color: #fff;
}
#content .content
{
    -fx-background-color: #fff;
}
#content .scroll-bar:vertical .thumb
{
    -fx-background-color: #0E2159;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
}
#content .scroll-bar:vertical .track

{
    -fx-background-color: #ddd;
    -fx-border-width: 0;
}
#content .scroll-bar:vertical .increment-button, #content .scroll-bar:vertical .decrement-button, #content .scroll-bar:vertical .increment-arrow, #content .scroll-bar:vertical .decrement-arrow
{
    -fx-pref-height: 0;
}
#content GridPane
{
    -fx-background-color: #fff;
    -fx-padding: 3px 0;
}

.song
{
    /*-fx-border-color: #333;
    -fx-border-width: 1px;*/
    -fx-text-fill: #333333;
    -fx-font-size: 18px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10px;
    -fx-background-color: #dfdfdf;
}
.song:hover
{
    
    -fx-background-color:#efefef;
    
    /*-fx-border-style: solid;
    -fx-border-width:2px;
    -fx-border-color:#333333;*/
}