#header
{
    -fx-background-color:#0E2159;
    -fx-padding: 10px 0;
}
#play
{
    -fx-background-color: #fff;
    -fx-pref-height: 30px;
    -fx-pref-height: 30px;
}
#time
{
    -fx-pref-width: 500px;
}
#sound
{
    -fx-pref-width: 50px
}
#time .track, #sound .track
{
    -fx-background-color: #fff;
    -fx-pref-height: 10px;
}
#time .thumb, #sound .thumb
{
    -fx-background-color: #2B4389;
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-border-radius: 10px;
    -fx-border-width:2px;
    -fx-border-style:solid;
    -fx-border-color:#fff;
}

#aside
{
    -fx-padding:5px;
}
#aside .playlist
{
    -fx-background-color: #3F5BAC; 
    -fx-pref-width:150px;
    -fx-pref-height:150px;/*
    -fx-border-bottom-color:#fff;
    -fx-border-bottom-style:solid;
    -fx-border-bottom-width:3px;*/
    -fx-border-radius: 10px;
}
#aside .playlist ImageView
{
    -fx-border-radius: 10px;
}
#aside .playlist Label
{
    -fx-text-fill:#fff;
    -fx-font-family: "Tahoma";
    -fx-font-size: 20px;
}
#content
{
    -fx-padding: 5px;
}

.song
{
    -fx-border-radius: 5px;
    -fx-background-color:#eeeeee;
    -fx-text-fill: #333333;
    -fx-font-size: 18px;
    -fx-border-style: solid;
    -fx-border-width:2px;
    -fx-border-color:#333333;
    -fx-padding: 10px;
}